.table th {
    font-size: 12.9px;
}

.table td {
    font-size: 12.9px;
}

.table-p th {
    font-size: 13.1px;
}

.table-p td {
    font-size: 13.1px;
}

.posisi {
    margin-left: 580px;
}

.isi th {
    font-size: 13.5px;
}
.isi td {
    font-size: 13.5px;
}

.table-w th {
    font-size: 10.5px;
}

.table-w td {
    font-size: 10.5px;
}

.span {
    margin-left: 200px;
}


